<% provide(:title, 'Agregar Palabras') %>
<div class="center hero-unit">
  	<h1>Nueva Palabra para <%= @bot.nombre %></h1>
  	<% if flash[:error] %>
      	<p class="error"><%= flash[:error] %></p>
    <% end %>
  	<div class="form_puntos origen">
		<%= form_for @palabra, :url => bot_agregar_palabra_path(@bot) do |form| %>
			<fieldset class="fields">
				<div class="field control-group numero">
					<%= form.label :palabra %>
					<%= form.text_field :palabra %> 
				</div>
			</fieldset>

			<fieldset class="actions">
				<%= form.submit "Guardar", class: "btn btn-large btn-primary" %>
			</fieldset>
		<% end %>
	</div>
</div>