<% provide(:title, 'Editar') %>
<div class="center hero-unit">
  	<h1>Editar Bot</h1>
  	<h2>Cuenta vinculada: <%= link_to "@"+@bot.tw_cuenta, "http://twitter.com/"+@bot.tw_cuenta %></h2>
  	<div class="form_puntos origen">
		<%= form_for @bot, :url => bot_editar_path(@bot) do |form| %>
			<fieldset class="fields">
				<div class="field control-group">
					<%= form.label :nombre %>
					<%= form.text_field :nombre %>
				</div>

				<div class="field control-group">
					<%= form.label :cantidad_seguir, "Máximo a seguir por hora" %>
					<div class="input-prepend">
						<%= form.text_field :cantidad_seguir %>
					</div>
				</div>
			</fieldset>

			<fieldset class="actions">
				<%= form.submit "Guardar", class: "btn btn-large btn-primary" %>
			</fieldset>
		<% end %>
	</div>
</div>