<% provide(:title, 'Editar') %>
<h1>Editar Bot</h1>
<h3>Cuenta vinculada: <%= link_to "@#{@bot.screen_name}", "http://twitter.com/#{@bot.screen_name}" %></h3>

<%= form_for @bot, :url => bot_editar_path(@bot) do |form| %>
	<div class="form-group">
		<%= form.label :name %>
		<%= form.text_field :name, :class => "form-control" %>
	</div>

	<div class="form-group">
		<%= form.label :cantidad_seguir, "Máximo a seguir por hora" %>
		<%= form.text_field :cantidad_seguir, :class => "form-control" %>
	</div>

	<div class="form-group">
		<%= form.label :verificar_seguido, "Verificar seguidos despues de" %>
		<div class="input-group">
			<%= form.text_field :verificar_seguido, :class => "form-control" %>
			<div class="input-group-addon">Días</div>
		</div>
	</div>

	<%= form.submit "Guardar", class: "btn btn-default" %>
<% end %>