<div class="center hero-unit">
  	<h1>Bots en el Sistema</h1>
	<% if flash[:notice] %>
      	<p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <table>
    	<tr>
    		<th>Nombre</th>
    		<th>Cuenta Twitter</th>
    		<th>Palabras</th>
            <th>Ciudades</th>
            <th>Máx x Hora</th>
            <th>Se han seguido</th>
            <th>Han seguido de vuelta</th>
    		<th>Acciones</th>
    	</tr>
    	<% @bots.each do |bot| %>
	    	<tr>
	    		<td><%= bot.nombre %></td>
	    		<td><%= link_to "@"+bot.tw_cuenta, "http://twitter.com/"+bot.tw_cuenta %></td>
	    		<td><%= bot.palabras.length %></td>
                <td><%= bot.botCiudads.length %></td>
                <td><%= bot.cantidad_seguir %></td>
                <td><%= bot.siguiendo %></td>
                <td><%= bot.seguidores %></td>
	    		<td>
                    <div class="btn-toolbar">
                        <div class="btn-group">
                            <% if bot.estado == 0 %>
                                <%= link_to "ON", bot_on_path(bot), class: "btn btn-mini btn-success", :confirm => "Seguro que quieres encender este bot?" %>
                            <% else %>
                                <%= link_to "OFF", bot_off_path(bot), class: "btn btn-mini btn-danger", :confirm => "Seguro que quieres apagar este bot?" %>
                            <% end %>
                            <%= link_to "Pal", bot_palabras_path(bot), class: "btn btn-mini" %>
                            <%= link_to "Ciu", bot_ciudades_path(bot), class: "btn btn-mini" %>
                            <%= link_to "Tweets", bot_tweets_path(bot), class: "btn btn-mini" %>
                            <%= link_to "<i class='icon-edit'></i>".html_safe, bot_editar_path(bot), class: "btn btn-mini" %>
                            <%= link_to "<i class='icon-trash icon-white'></i>".html_safe, bot_eliminar_path(bot), class: "btn btn-mini btn-danger", :confirm => "Seguro que quieres eliminar este bot?" %>
                        </div>
                    </div>
                </td>
	    	</tr>
	    <% end %>
    </table>
</div>