<% provide(:title, 'Nuevo') %>
<div class="center hero-unit">
  	<h1>Nuevo Bot</h1>
  	<h2>Si esta no es la cuenta que deseas utilizar, deslogeate de twitter en otra ventana y vuelve a empezar</h2>
  	<div class="form_puntos origen">
		<%= form_for @bot, :url => bot_nuevo_path do |form| %>
			<fieldset class="fields">
				<div class="field control-group">
					<%= form.label :nombre %>
					<%= form.text_field :nombre %>
				</div>

				<div class="field control-group numero">
					<%= form.label :tw_cuenta, "Cuenta Twitter" %>
					<div class="input-prepend">
						<span class="add-on">@</span><%= form.text_field :tw_cuenta, {class: "span2", readonly: "readonly"} %>
					</div>
				</div>

				<div class="field control-group interseccion">
					<%= form.label :tw_token, "Twitter Token" %>
					<%= form.text_field :tw_token, {class: "input-xxlarge", readonly: "readonly"} %>
				</div>

				<div class="field control-group">
					<%= form.label :tw_secret, "Twitter Secret" %>
					<%= form.text_field :tw_secret, {class: "input-xxlarge", readonly: "readonly"} %>
				</div>
			</fieldset>

			<fieldset class="actions">
				<%= form.submit "Guardar", class: "btn btn-large btn-primary" %>
			</fieldset>
		<% end %>
	</div>
</div>