<% provide(:title, 'Bot Tweets') %>
<div class="center hero-unit">
  	<h1>Personas seguidas por el Bot <%= @bot.nombre %></h1>

	<% if flash[:notice] %>
      	<div class="notice">
      		<p><%= flash[:notice] %><p>
      	</div>
    <% end %>

    <table>
    	<tr>
    		<th>Usuario</th>
            <th>Tweet</th>
            <th>Location</th>
            <th>Creado</th>
            <th>Seguido</th>
            <th>Palabra</th>
            <th>Estado</th>
            <th>Acciones</th>
    	</tr>
	    <% @bot.tweets.sort! {|a,b| a.created_at <=> b.created_at}.reverse.each do |tweet| %>
	    	<tr>
	    		<td><%= link_to "@"+tweet.tw_usuario, "http://twitter.com/"+tweet.tw_usuario %></td>
                <td><%= tweet.tw_text %></td>
                <td><%= tweet.tw_location %></td>
                <td><%= tweet.tw_created_at %></td>
                <td><%= tweet.created_at %></td>
                <td><%= tweet.palabra %></td>
                <td>
                    <% if tweet.estado == 0 %>
                        Pendiente
                    <% elsif tweet.estado == 1 %>
                        Siguiendo
                    <% elsif tweet.estado == 2 %>
                        Sigue
                    <% elsif tweet.estado == 3 %>
                        Desconocido
                    <% elsif tweet.estado == 4 %>
                        No se sigue
                    <% end %>
                </td>
	    		<td>
	    			<div class="btn-toolbar">
                        <div class="btn-group">
                            <% if tweet.estado == 2 %>
                                <span class="btn btn-mini disabled">Unfollow</span>
                            <% elsif tweet.estado == 4 %>
                                <%= link_to "Follow", bot_tweets_follow_path(@bot, tweet.id), class: "btn btn-mini btn-primary" %>
                            <% else %>
                                <%= link_to "Unfollow", bot_tweets_unfollow_path(@bot, tweet.id), class: "btn btn-mini btn-danger" %>
                            <% end %>
                        </div>
                    </div>
                </td>
	    <% end %>
	</table>
</div>