<% provide(:title, 'Ciudades') %>
<h1>Ciudades</h1>
<% if flash[:notice] %>
	<p class="notice"><%= flash[:notice] %></p>
<% end %>
<%= link_to "Agregar", ciudades_nueva_path, class: "btn btn-large btn-primary" %>
<br />
<div class="table-responsive">
	<table class='table table-striped'>
		<tr>
			<th>Nombre</th>
			<th>Longitud</th>
			<th>Latitud</th>
			<th>km a la redonda</th>
			<th class='text-center'>Acciones</th>
		</tr>
		<% @ciudades.each do |ciudad| %>
			<tr>
				<td><%= ciudad.nombre %></td>
				<td><%= ciudad.longitud %></td>
				<td><%= ciudad.latitud %></td>
				<td><%= ciudad.km %></td>
				<td>
					<div class="btn-toolbar text-center" role="toolbar" aria-label="...">
						<div class="btn-group btn-group-sm" role="group" aria-label="...">
							<%= link_to "Editar", ciudades_editar_path(ciudad), class: "btn btn-default" %>
							<%= link_to "Eliminar", ciudades_eliminar_path(ciudad), class: "btn btn-default", :method => :deleted, confirm: "Está seguro?" %>
						</div>
					</div>
				</td>
			</tr>
		<% end %>
	</table>
</div>